### Tuplas Tests

In [7]:
tupla = ('patata', 'lechuga', 'tomate', 'pepino')
otra = (10,20,30,40)

In [8]:
# Operaciones con tuplas
otra = otra * 2
otra

(10, 20, 30, 40, 10, 20, 30, 40)

In [12]:
# Preguntar si un valor está en la tupla
20 in otra

True

In [13]:
# Sumar dos tuplas
t1 = (1,2,3)
t2 = (4,5,6)
print(t1+t2)

(1, 2, 3, 4, 5, 6)

In [16]:
# Indexado. Acceder a los tres primeros valores
t = (10,20,30,40,50,60,900)
print (t[0:3:1])

(10, 20, 30)

In [20]:
# Desde elfinal al principio
print(t[-1::-1])

(900, 60, 50, 40, 30, 20, 10)

In [25]:
# Añadir a una tupla, convirtiendo antes en lista
t = (10,20,30,40,50,60,900)
lista = list(t)
lista.append(1000)
t = tuple(lista)
t

(10, 20, 30, 40, 50, 60, 900, 1000)