In [1]:
# 1.Muestra el tipo de datos asociado a cada elemento de esta lista
lista = ["Python", "Java", 23, 23.301, True, "apple"]
for _ in lista:
    print(f'{_}, tipo: {type(_)}')

Python, tipo: <class 'str'>
Java, tipo: <class 'str'>
23, tipo: <class 'int'>
23.301, tipo: <class 'float'>
True, tipo: <class 'bool'>
apple, tipo: <class 'str'>

In [2]:
# 2 Muestra los valores de la lista desde el final mediante un bucle
lista = ["Python", "Java", 23, 23.301, True, "apple"]
for _ in range(-1, (len(lista) + 1) * -1, -1):
    print (lista[_], end=", ")

apple, True, 23.301, 23, Java, Python,

In [3]:
# 3. Muestra solo los valores de tipo texto de la lista
lista = ["Python", "Java", 23, 23.301, True, "apple"]
for valor in lista:
    if isinstance(valor, str):
        print (valor, end=", ")

Python, Java, apple,

In [4]:
# 4. Extraer las cadenas en una nueva lista
lista = ["Python", "Java", 23, 23.301, True, "apple"]
cadenas = [x for x in lista if isinstance(x, str)]
cadenas

['Python', 'Java', 'apple']

In [5]:
# 5. Añadir los valores de esta nueva lista a la lista de cadenas anterior
otra = ["casting", "objeto", "método"]
cadenas.extend(otra)
cadenas

['Python', 'Java', 'apple', 'casting', 'objeto', 'método']

In [6]:
# 6. Eliminar de esta nueva lista los valores contenidos en esta otra lista
elimina = ["Java", "Python"]
for _ in elimina:
    if _ in cadenas:
        cadenas.remove(_)
cadenas

['apple', 'casting', 'objeto', 'método']

In [7]:
# 7.A partir de esta lista de números, lista =  [12, 10, 23, 15, 19, 20, 22, 7], obtener la inversa.
lista[-1::-1]

['apple', True, 23.301, 23, 'Java', 'Python']

In [8]:
# 8. A partir de esta lista de números, lista =  [12, 10, 23, 15, 19, 20, 22, 7], 
# obtener otra como resultado de multiplicar cada valor de la lista inicial por 3.
lista =  [12, 10, 23, 15, 19, 20, 22, 7]
por_3 = [x * 3 for x in lista]
por_3

[36, 30, 69, 45, 57, 60, 66, 21]

In [9]:
# 9. Mostrar el primer valor de la lista y el último. 
frutas = ['sandía', 'melón', 'plátano', 'melocotón', 'fresa']
print(f'Primero: {frutas[0]}')
print(f'Último: {frutas[-1]}')

Primero: sandía
Último: fresa

In [10]:
# 10. Intercambiar los valores primero y último. 
frutas = ['sandía', 'melón', 'plátano', 'melocotón', 'fresa']
frutas[0], frutas[-1]=frutas[-1], frutas[0]
frutas

['fresa', 'melón', 'plátano', 'melocotón', 'sandía']

In [11]:
# 11. Genera una lista con los valores pares del 1 al 20.
lista = [x for x in range(1,21,1)]
lista1 = lista[:11:1]
lista2 = lista[11::1]
print(lista)
print(lista1)
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[12, 13, 14, 15, 16, 17, 18, 19, 20]

In [12]:
# 12. Genera una lista con los valores pares del 1 al 20 y 
#a partir de ella obtener otra lista con los 5 valores  del final.
# el ultimo valor de la lista original será el primero en la nueva lista
lista = [x for x in range(1,21,1)]
cinco_ultimos= lista[-1:-6:-1]
cinco_ultimos

[20, 19, 18, 17, 16]

In [13]:
# 13. Dada una lista de ciudades, 
# Extraer en otra lista aquellas que cuyo nombre comience por una valor concreto. 
# Ordenar descendente
ciudades=["Córdoba", "Álava", "Albacete", "Alicante", "Almería", "Asturias", "Ávila", "Badajoz", "Burgos"]
con_i = [c for c in ciudades if c.startswith('Al')]
print(con_i)
ciudades.sort()
print (f'Ascendente: {ciudades}')

ciudades.sort(reverse=True)
print (f'Descendente: {ciudades}')

['Albacete', 'Alicante', 'Almería']
Ascendente: ['Albacete', 'Alicante', 'Almería', 'Asturias', 'Badajoz', 'Burgos', 'Córdoba', 'Álava', 'Ávila']
Descendente: ['Ávila', 'Álava', 'Córdoba', 'Burgos', 'Badajoz', 'Asturias', 'Almería', 'Alicante', 'Albacete']

In [14]:
# 14. Dada una lista de números enteros, mostrar en primero pares y luego impares.
numeros = [ 31, 2, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
print (f'Pares: {[_ for _ in numeros if _%2==0]}')
print (f'Impares: {[_ for _ in numeros if _%2==1]}')

Pares: [2, 12, 14, 16, 18, 20]
Impares: [31, 11, 13, 15, 17, 19]

In [15]:
# 15. En este ejercicio partimos de un conjunto (set) de figuras: 
figuras = {'triángulo', 'círculo', 'rombo', 'trapecio'}
nuevas = ['trapecio', 'rectángulo','circunferencia', 'trapecio']
for _ in nuevas:
    figuras.add(_)
print(figuras)

{'trapecio', 'círculo', 'rombo', 'circunferencia', 'rectángulo', 'triángulo'}

In [16]:
# 16. Crea un diccionario que almacene marcas de coches y unidades vendidas en 2019. 
# Imprime los valores del diccionario recorriéndolo
ventas = {
    'Toyota':  73505,
    'Kia': 63345,
    'Hyundai': 59503,
    'Volkswagen': 58874,
    'Peugeot': 54737,
    'Seat': 49200,
    'Renault': 45515
}

print('Ventas por marcas en 2022')
for k,v in ventas.items():
    print(k.ljust(15, '-') + ' Unidades:' + str(v))

Ventas por marcas en 2022
Toyota--------- Unidades:73505
Kia------------ Unidades:63345
Hyundai-------- Unidades:59503
Volkswagen----- Unidades:58874
Peugeot-------- Unidades:54737
Seat----------- Unidades:49200
Renault-------- Unidades:45515

In [17]:
import json
json_ventas = json.dumps(ventas, indent = 4)  
print(json_ventas)

{
    "Toyota": 73505,
    "Kia": 63345,
    "Hyundai": 59503,
    "Volkswagen": 58874,
    "Peugeot": 54737,
    "Seat": 49200,
    "Renault": 45515
}

In [18]:
# 18. Partiendo del diccionario de ventas del ejercicio.
# Añadir una nueva pareja: (Citröen, 43160)

ventas = {
    'Toyota':  73505,
    'Kia': 63345,
    'Hyundai': 59503,
    'Volkswagen': 58874,
    'Peugeot': 54737,
    'Seat': 49200,
    'Renault': 45515
}

ventas['Citroen'] = 43160
ventas['Renault']=46000
ventas.pop('Citroen')
ventas

{'Toyota': 73505,
 'Kia': 63345,
 'Hyundai': 59503,
 'Volkswagen': 58874,
 'Peugeot': 54737,
 'Seat': 49200,
 'Renault': 46000}

In [19]:
# 19. Crear una aplicación Python que compruebe si existe una key en un dicci
def is_key_present(d,k):
    return k in d
print(is_key_present(ventas, 'Seat'))
print(is_key_present(ventas, 'Lexus'))

True
False

In [20]:
# 20. Itera sobre los elementos de un diccionario.
# a. Obtener todas las keys
for k,v in ventas.items():
    print(f'{k}---{v}')

Toyota---73505
Kia---63345
Hyundai---59503
Volkswagen---58874
Peugeot---54737
Seat---49200
Renault---46000

In [21]:
# b. Obtener todas los valores
for v in ventas.values():
    print(f'{v}')

73505
63345
59503
58874
54737
49200
46000

In [22]:
# c. Obtener todas las parejas
for k,v in ventas.items():
    print(f'{k}---{v}')

Toyota---73505
Kia---63345
Hyundai---59503
Volkswagen---58874
Peugeot---54737
Seat---49200
Renault---46000

In [23]:
# 21. Crear una aplicación Python que ordene un diccionario 
# a. por sus keys 
for k in sorted(ventas):
    print(k)

Hyundai
Kia
Peugeot
Renault
Seat
Toyota
Volkswagen

In [24]:
# b. por sus valores
import operator
sorted_d = sorted(ventas.items(), key=operator.itemgetter(0))
print(sorted_d)

[('Hyundai', 59503), ('Kia', 63345), ('Peugeot', 54737), ('Renault', 46000), ('Seat', 49200), ('Toyota', 73505), ('Volkswagen', 58874)]

In [25]:
# 22. Crear una aplicación Python que permita concatenar varios diccionarios obteniendo uno nuevo. 
# dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60, 3:33}
dic4={}
for d in (dic1,dic2,dic3):
    dic4.update(d)
dic4

{1: 10, 2: 20, 3: 33, 4: 40, 5: 50, 6: 60}

In [26]:
# 23. Obtener un diccionario que tenga 10 parejas clave valor con la forma siguiente: 
# (x, x*x), siendo x un número entre 1 y 10. Mostrar el diccionario creado.
parejas={}
for x in range(1,11,1):
    parejas[x]=x*x
print(parejas)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [27]:
# 24. Partiendo de este diccionario, 
# {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}, 
# diseña un programa Python que permita sumar todos los valores del mismo.
dicc = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
suma = sum(list(dicc.values()))
suma

1240

In [29]:
# 25. Obtener el número de elementos/parejas del diccionario anterior. 
# Comprobar también si está vacío o no.
import operator
print(f'Nº elementos: {len(dicc)}')
print(f'Esta vacío? {len(dicc)==0}')
print(f'Esta vacío? {operator.not_(dicc)}')

Nº elementos: 15
Esta vacío? False
Esta vacío? False

In [30]:
# 26. Mediante un programa Python, obtener un diccionario a partir de dos listas como las siguientes
# rio = ['Amazonas', 'Yang-Tseg', 'Yeniséi', 'Nilo', 'Obi']
# kms = [6400, 6300, 3487, 6650, 3700]

rio = ['Amazonas', 'Yang-Tseg', 'Yeniséi', 'Nilo', 'Obi']
kms = [6400, 6300, 3487, 6650, 3700]
rios = dict(zip(rio, kms))
print(rios)

{'Amazonas': 6400, 'Yang-Tseg': 6300, 'Yeniséi': 3487, 'Nilo': 6650, 'Obi': 3700}

In [38]:
# 27. Diseña un programa Python que combine dos diccionarios en uno nuevo sumando los valores 
# de clave comunes.
# d1 = {'a': 100, 'b': 200, 'c':300}, d2 = {'a': 300, 'b': 200, 'd':400}.
def addDicc(source, new):
    for x,y in source.items():
        if x in new:
            new[x]=new[x]+y
        else:
            new[x]=y
    return new

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3={}
d3 = addDicc(d1, d3)
d3 = addDicc(d2, d3)
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [41]:
# 27. Diseña un programa Python que combine dos diccionarios en uno nuevo sumando los valores 
# de clave comunes.
# d1 = {'a': 100, 'b': 200, 'c':300}, d2 = {'a': 300, 'b': 200, 'd':400}.

from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = Counter(d1) + Counter(d2)
d3 = dict(d3)
d3

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [14]:
# 28.Ordenar este diccionario:
# Por sus keys: ASC y DESC
# Por sus valores: ASC y DESC 
# dict =  {'Programming': 99, 'Math':81, 'Physics':83, 'Chemistry':87}

import operator

dict =  {'Programming': 99, 'Math':81, 'Physics':83, 'Chemistry':87}
# Keys ASC
sorted_d = sorted(dict.items(), key=operator.itemgetter(0), reverse=False)
print(sorted_d)
# Keys DESC
sorted_d = sorted(dict.items(), key=operator.itemgetter(0), reverse=True)
print(sorted_d)
# Values ASC
sorted_d = sorted(dict.items(), key=operator.itemgetter(1), reverse=False)
print(sorted_d)
# Keys ASC
sorted_d = sorted(dict.items(), key=operator.itemgetter(1), reverse=True)
print(sorted_d)

[('Chemistry', 87), ('Math', 81), ('Physics', 83), ('Programming', 99)]
[('Programming', 99), ('Physics', 83), ('Math', 81), ('Chemistry', 87)]
[('Math', 81), ('Physics', 83), ('Chemistry', 87), ('Programming', 99)]
[('Programming', 99), ('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [15]:
# 29. Partiendo de este diccionario, multiplica todos sus valores por dos. 
# d1 = {'a': 100, 'b': 200, 'c':300}
d1 = {'a': 100, 'b': 200, 'c':300}
for k,v in d1.items():
    d1[k]*=2
d1

{'a': 200, 'b': 400, 'c': 600}

In [18]:
# 30. Partiendo de este diccionario, multiplica todos sus valores y muestra el resultado. 
# d1 = {'a': 100, 'b': 200, 'c':300}
d1 = {'a': 100, 'b': 200, 'c':300}
result=1
for key in d1:
    result *= d1[key]
result

6000000